<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thống kê số lượng xe theo người dùng</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Thống kê số lượng xe theo người dùng</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Tên người dùng</th>
            <th>Ngày sinh</th>
            <th>Email</th>
            <th>Ngày lấy bằng</th>
            <th>Ghi chú</th>
            <th>Lương</th>
            <th>Trạng thái</th>
            <th>Tổng số xe</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry:${map}">
            <td th:text="${entry.getKey().getName()}"></td>
            <td th:text="${#temporals.format(entry.getKey().getBorn(),'yyyy-MM-dd')}"></td>
            <td th:text="${entry.getKey().getEmail()}"></td>
            <td th:text="${#temporals.format(entry.getKey().getGraduated(),'yyyy-MM-dd')}"></td>
            <td th:text="${entry.getKey().getNote()}"></td>
            <td th:text="${#strings.toString(entry.getKey().getSalary())}"></td>
            <td>
                <span th:if="${entry.getKey().getStatus()==0}" th:text="'STOPPED'"></span>
                <span th:if="${entry.getKey().getStatus()==1}" th:text="'ACTIVATED'"></span>
                <span th:if="${entry.getKey().getStatus()==2}" th:text="'TERMINATED'"></span>

            </td>
            <td th:text="${#strings.toString(entry.getValue())}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>