<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý người dùng</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Quản lý người dùng</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Tên người dùng</th>
            <th>Ngày sinh</th>
            <th>Email</th>
            <th>Ghi chú</th>
            <th>Ngày lấy bằng lái xe</th>
            <th>Lương</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person:${persons}">
            <td th:text="${person.getName()}"></td>
<!--            pattern phai la dau kep don -->
            <td th:text="${#temporals.format(person.getBorn(), 'yyyy-MM-dd')}"></td>
            <td th:text="${person.getEmail()}"></td>
            <td th:text="${person.getNote()}"></td>
            <td th:text="${#temporals.format(person.getGraduated(), 'yyyy-MM-dd')}"></td>
            <td th:text="${#strings.toString(person.getSalary())}"></td>
            <td>
                <span style="color: red" th:if="${person.getStatus()==0}" th:text="'STOPPED'"></span>
                <span style="color: dodgerblue" th:if="${person.getStatus()==1}" th:text="'ACTIVATED'"></span>
                <span style="color: sandybrown" th:if="${person.getStatus()==2}" th:text="'TERMINATED'"></span>
            </td>
            <td>
                <a th:href="@{'/update-person/'+${perID}+'/'+${person.getPer_id()}}" class="btn btn-warning">Sửa</a>
            </td>
            <td>
                <a th:href="@{'/delete-person/'+${perID}+'/'+${person.getPer_id()}}"  class="btn btn-danger">Xóa</a>
            </td>
            <td>
                <a th:href="@{'/active-person/'+${perID}+'/'+${person.getPer_id()}}" class="btn btn-info">Active</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/car-by-brand}" class="btn btn-primary">Thống kê số xe theo brand</a>
    <a th:href="@{/car-by-per}" class="btn btn-primary">Thống kê số xe theo người dùng</a>
    <a th:href="@{/max-salary-per}" class="btn btn-info">Khách hàng tiềm năng</a>
    <p></p>
    <!-- Pagination -->
    <div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <!-- Page Links -->
                <li th:each="i : ${#numbers.sequence(0, totalPerson - 1)}" th:class="${currentPage == i} ? 'page-item active' : 'page-item'">
                    <a class="page-link" th:href="@{'/persons/'+${perID} + '?page=' + ${i} + '&size=' + ${pageSize}}" th:text="${i + 1}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>